client_id: 1093900169512243362
client_secret: -
database_url: postgres:///infinity
redis_url: redis://localhost:6379/15
github_webhook_sig: 
github_pat: 
bot_token: 
log_channel: 1048512768011161640
dp_secret: 
    url_1:
